@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
.header-banner {
  max-width: 1250px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url(../images/group13.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
  border-radius: 10px;
}
.header-banner >p,h2 {
  color: #fff;
  width: 50%;
  margin: 2rem auto;
}
.header-banner > h2 {
  font-size: 3rem;
  font-weight: 800;
  padding-top: 5rem;
}
.header-banner > p {
  font-size: 1rem;
}
.travel-time {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: fit-content;
  margin: 0 auto;
  padding: 10px;

}
.btn-primary {
  width: 120px;
  height: 30px;
  background-color: #ff5400;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  
}
.travel-time input {
  border: none;
  background: #fff;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.travel-time img {
  width: 20px;
  color: #fff;
}

/* main section style  */
.popular-tour{
    display: flex;
    max-width: 1250px;
    margin: 3rem auto;
    align-items: center;
    justify-content: center;
}
.popular-tour-description{
    width: 52%;
    height: 100%;
    margin: auto;
    line-height: 1.5rem;
    
}
.popular-tour-image{
    width: 45%;
    height: 100%;
    margin: auto;
    text-align: right;
}
.popular-tour-image img{
    width: 100%;
    height: 100%;
}
.popular-tour-description>h3, .title{
    font-size: 2.3rem;
    font-weight: 800px;
    color: #131318;
}
.popular-tour-description> p, ul{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}

/* destination section style  */

.destination{
    max-width: 1250px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    
}
.destination-image{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 3rem auto;
  
}
.div-1{
    grid-column: span 6;
}
.div-2{
    grid-column: span 6;
}
.div-3{
    grid-column: span 4;
}
.div-4{
    grid-column: span 5;
}
.div-5{
    grid-column: span 3;
}
.div-6{
    grid-column: span 5;
}
.div-7{
    grid-column: span 7;
}
.destination-image img{
    width: 100%;
    height: 100%;
}

/* responsive for mobile device  */
@media screen and (max-width: 600px) {
  .header-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    
  }
  .header-banner > h2, .header-para {
  color: #fff;
  width: 80%;
  margin: 2rem auto;
}
  .travel-time {
    flex-direction: column;
    width: 80%;
  }
  .travel-time input{
    width: 90%;
  }
  .btn-primary {
    width: 93%;
  }
  .popular-tour{
    display: block;
  }
  .popular-tour-description{
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
    line-height: 1.5rem;
    
    
}
.popular-tour-description>p{
    width: 100%;
}
.popular-tour-description >button{
    position: relative;
    left: 15px;
}
.popular-tour-image{
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: right;
}
.destination-image{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    
}
.destination-image img{
    width: 100%;
    height: 100%;
}
.destination-image .div{
    width: 85vw;
    height: 50vh;
   
}


}
